<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Recommendations</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header class="bg-primary text-white text-center py-4">
        <div class="container">
            <h1>Movie Recommendations</h1>
        </div>
    </header>
    <div class="container mt-5">
        <div class="card shadow-lg">
            <div class="card-body">
                <h2>Recommendations for "{{ movie }}"</h2>
                <ul class="list-group mb-4">
                    <li class="list-group-item">1: {{ recommendations['First'] }}</li>
                    <li class="list-group-item">2: {{ recommendations['Second'] }}</li>
                    <li class="list-group-item">3: {{ recommendations['Third'] }}</li>
                    <li class="list-group-item">4: {{ recommendations['Fourth'] }}</li>
                </ul>
                <a href="/" class="btn btn-secondary btn-block">Back</a>
            </div>
        </div>
    </div>

    <!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!-- Custom JavaScript -->
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
